In [1]:
import pandas as pd
import numpy as np

In [11]:
df = pd.read_csv('/Users/eldarsarajlic/Desktop/Documents/Data_Projects/streamlit2/datasets/spring_24_query.csv')


# Filter out canceled classes from the spring_24_query dataset and count the active sections per course.
df = df[df['Class Stat'] == 'Active']

df['Course'] = df['Subject'] + ' ' + df['Catalog#']

df = df[['Course', 'Tot Enrl']]

df

       Course  Tot Enrl
0    ACL  120        17
1    ACL  150        25
2    ACL  150        25
3    ACL  150        16
4    ACL  150        13
..        ...       ...
199  CRT  100        19
201  ACL  150        19
202  CRT  100        24
203  LIN  150        14
204  LIN  250        11

[139 rows x 2 columns]

In [19]:
spring_2024 = df.groupby('Course').agg({
    'Tot Enrl': 'sum',  # Sum of total enrollment per course
    'Course': 'count'  # Count of sections per course
}).rename(columns={'Course': '# of Sections', 'Tot Enrl': '# Enrolled'})

spring_2024.to_csv('/Users/eldarsarajlic/Desktop/Documents/spring_2024', index=True)